/* the page background */
html {
    background-color: violet;
}
/* the head2 background */
h2 {background-color: blue;

}
/* the hover pseudoclass to change its background */
h2:hover {background-color: blueviolet;

color: white;
}
/* Styling for the list */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
/* Styling for list items */
  li {
    padding: 10px;
    background-color: #101d8f;
    margin-bottom: 5px;
  }

  /* Styling for the first list item */
  li:first-child {
    background-color: #101d8f;
  }

  /* Styling for every second list item */
  li:nth-child(2n) {
    background-color: #2089b3;
  }
